
nav{
  
    background-color:#057D97;
    height: 40px;
    color: white;
    font-family: 'Magra', sans-serif;
    
    

}
.nav-item{
    color: cornsilk;
    display: inline-block;
    padding-top: 5px;
    padding-inline-end: 10px;
    

}

.navbar-nav button{
    background-color:#057D97;
    color: white;
    border-radius: 6px
    ;
}
.nav_links button:hover{
    background-color: rgb(58, 184, 163);
}


.navbar-nav li,a{
    color: cornsilk;
    display: inline-block;
    padding-top: 5px;
    padding-inline-end: 10px;
    
}